@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

body {
    background-color: #FEC8CD;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ffffff;
    font-weight: 500;
    font-size: 3rem;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    text-align: center;
}


h3 {
    color: #ffffff;
    font-weight: 500;
    font-size: 1.5rem;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    text-align: center;
}


.main-title::after {
    position: relative;
    display: block;
    content: "";
    border-bottom: solid #fff 2px;
    width: 100%;
    height: 1px;
    right: auto;
    left: auto;
    margin: auto;
    animation: border-in;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-duration: 2s;
}

p {
    color: #ffffff;
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Roboto Mono', monospace
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: header;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    flex-direction: column;
    gap: 3px;
    padding: 1em;
}


footer {
    position: absolute;
    bottom: 0;
    max-height: 6em;
    width: 100%;
    background-color: #FEC8CD;
    /* border-top: solid 2px #fff; */
}


footer::before {
    position: relative;
    display: block;
    content: "";
    height: 1px;
    border-bottom: 2px solid #fff;
    width: 70%;
    margin: auto;
    left: auto;
    right: auto;
    animation: border-in;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-duration: 2s;
}


main {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

@keyframes header {
    0% {
        transform: translateY(-100%);
        
    }
    100% {
        transform: translateY(0%);
    }
}



@keyframes border-in {
    0% {
        width: 5%;
    }
}